{% extends 'horizon/_scripts.html' %}

{% block custom_js_files %}
  <script src='{{STATIC_URL}}mydashboard/js/jquery.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{STATIC_URL}}mydashboard/js/json2.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{STATIC_URL}}mydashboard/js/jquery.jsoneditor.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{STATIC_URL}}mydashboard/js/jsoneditor.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}
